/* import font dari google */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #393E46;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
}

.kepala {
    position: relative;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    height: 8vh;
    padding: 0 10%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.brands {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.brands h1 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-shadow: 1px 1px #393E46;
}

.brands span {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    color: #1cc3b2;
}

.nav-link {
    align-self: stretch;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.nav-link a {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-weight: 600;
    cursor: pointer;
}

.nav-link a:hover {
    color: #EEEEEE;
    background-color: #1cc3b2;
}

.nav-link a:active {
    transform: scaleX(0.8);
}

.nav-contact-me {
    align-self: stretch;
    display: flex;
    align-items: center;
}

.nav-contact-me a {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-weight: 600;
    color: #EEEEEE;
    letter-spacing: 1px;
    background-color: #1cc3b2;
}

.nav-contact-me a:hover {
    color: #EEEEEE;
    background-color: #0e2737;
}

.nav-contact-me a:active {
    transform: scaleX(1.2);
}

.nav-res {
    display: none;
    align-self: stretch;
    align-items: center;
    padding: 0 30px;
}

.nav-res:hover {
    background-color: #1cc3b2;
}

.nav-res i:hover {
    color: #EEEEEE;
}

.nav-res a:active {
    transform: translateX(-6px);
}

#welcome {
    background: rgba(0, 0, 0, .7) url('welcome-bg.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#welcome p {
    font-size: 1.5em;
    color: #EEEEEE;
    letter-spacing: 2px;
    text-shadow: 3px 3px #0e2737;
    margin-bottom: 2vh;
}

#welcome h1 {
    font-size: 4em;
    color: #EEEEEE;
    letter-spacing: 5px;
    text-shadow: 5px 5px #0e2737;
    margin-bottom: 5vh;
}

#welcome a, .tamu-a {
    padding: 12px 40px 12px 40px;
    border: 2px solid #1cc3b2;
    font-size: 1.2em;
    color: #EEEEEE;
    cursor: pointer;
}

#welcome a:hover, .tamu-a:hover {
    transform: scale(1.2);
    background-color: #1cc3b2;
}

#welcome a:active, .tamu-a:active {
    transform: scale(0.9);
}

.about {
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

#tulis-pesan {
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
}

.pesan {
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .2);
    padding: 40px;
    margin: 0 10%;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pesan-nama, .callback, .link, .msg, .submit {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.break {
    flex-basis: 100%;
}

#validate {
    display: none;
    justify-content: center;
    width: 100%;
    padding: 12px;
    margin: 0 10px 20px 10px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    transition: all .5s ease-in-out;
}

.msg {
    flex-grow: 1;
}

.pesan-nama label, .callback label, .link label, .msg label {
    font-weight: 600;
}

.pesan-nama input, .callback select, .link input, .msg textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pesan-nama input:hover,
.callback select:hover,
.link input:hover,
.msg textarea:hover {
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.pesan-nama input:focus,
.callback select:focus,
.link input:focus,
.msg textarea:focus {
    outline: none;
}

.submit label {
    visibility: hidden;
}

.submit button {
    padding: 12px 20px;
    margin: 10px 0;
    background-color: #1cc3b2;
    border: 1px solid #1cc3b2;
    font-weight: 600;
    letter-spacing: 2px;
    color: #EEEEEE;
    cursor: pointer;
}

.submit button:hover {
    background-color: #ffffff;
    color: #1cc3b2;
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, .2);
}

.submit button:active {
    transform: scaleX(0.9);
}



#about {
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.profil-saya {
    margin-left: 10%;
    margin-right: 20px;
}

.profil-saya h4, #project h4, #tamu h4 {
    text-transform: uppercase;
    color: #1cc3b2;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.profil-saya h1, #project h1, #tamu h1 {
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 0;
    display: block;
    line-height: 1.2;
    margin-bottom: 50px;
}

.profil-saya p {
    line-height: 1.8;
    color: #636a76;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.3em;
}

.profil-saya h3 {
    color: #636a76;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
}

.profil-saya h3 span {
    color: #1cc3b2;
}

.profil-saya h6 {
    font-family: 'Dancing Script', sans-serif;
    color: #aeaeae;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 50px;
}

.foto-saya {
    margin-left: 20px;
    margin-right: 10%;
}

.foto-saya img {
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, .2);
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.foto-saya img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 20px 1px rgba(0, 0, 0, .2);
    border-radius: 30px;
}

#skill {
    padding: 70px 10% 0 10%;
}

#skill h3 {
    color: #aeaeae;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 0 40px 0;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill {
    background-color: #ffffff;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 30px 50px;
    text-align: center;
    color: #2a303b;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    margin: 0 15px 30px 15px;
}

.skill:hover {
    transform: scale(1.2);
    color: #1cc3b2;
    box-shadow: 0 2px 20px 5px rgba(28, 195, 178, .3);
}

.skill i {
    color: #1cc3b2;
    margin-bottom: 15px;
}

#project {
    padding: 100px 10%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

#post {
    display: flex;
    text-align: start;
    margin: 15px 0;
    cursor: pointer;
}

#post:hover {
    transform: scale(1.1);
}

#post:active {
    transform: scale(1);
}

.post-gambar {
    flex: 0 0 30%;
}

.post-gambar img {
    width: 100%;
    height: auto;
}

.post-content {
    flex: 0 0 70%;
}

.post-judul {
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2;
    display: block;
}

.category {
    margin: 20px;
    padding: 6px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #1cc3b2;
    color: #EEEEEE
}

.post-isi {
    padding: 0 20px;
    margin: 20px 0;
    line-height: 1.7;
    color: #636a76;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.date {
    margin: 0 20px;
    color: #afb4bf;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

#tamu {
    padding: 100px 50px;
    background-color: #0e2737;
    text-align: center;
}

.tamu-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#empty {
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    margin-top: 100px;
}

#komentar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.list-pesan {
    text-align: start;
    background-color: #EEEEEE;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    max-width: 400px;
    cursor: pointer;
}

.list-pesan:hover {
    transform: scale(1.1);
}

.list-judul {
    display: flex;
    align-items: center;
}

.list-icon {
    color: #1cc3b2;
}

.list-nama {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
}

.list-isi {
    padding: 10px 0 0 20px;
}

.list-isi q {
    color: #636a76;
}

.list-username {
    display: block;
    color: #1cc3b2;
    margin-top: 10px;
    transition: all 1s ease-in-out;
    font-weight: 600;
}

.list-username:hover {
    transform: translateX(20px);
}

.list-username:active {
    color: #afb4bf;
}

.list-date {
    margin-top: 15px;
    color: #afb4bf;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer-fluid {
    background-color: #0e2737;
    padding: 50px 10% 0 10%;
}

.footer-container {
    padding: 15px 0;
    border-top: 1px solid #273d4b;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-size: 16px;
    color: #afb4bf;
}

.footer-sosmed a i {
    padding-left: 20px;
    color: #afb4bf;
}

.footer-sosmed a i:hover {
    color: #EEEEEE;
}

.contact {
    background-image: url('location-bg.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px;
}

.contact .info {
    width: 50%;
    background-color: rgba(14, 39, 55, 1);
    color: #afb4bf;
    display: block;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
}

.contact .info h1 {
    margin-bottom: 15px;
    font-family: 'Source Code Pro', sans-serif;
    color: #EEEEEE;
    font-size: 1.8em;
    font-weight: 700;
    align-self: stretch;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px #393E46;
}

.contact .info h1 span {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
    color: #1cc3b2;
}

.contact .info p {
    color: #afb4bf;
    margin-bottom: 10px;
}

.contact .info i {
    color: #afb4bf;
    padding-right: 8px;
    margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact {
        background-image: cover;
    }

    .skill {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        margin-bottom: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .about {
        padding-top: 30px;
    }

    #project {
        padding: 50px 25px;
    }

    .msg textarea {
        height: 100px;
    }

    #about {
        padding-top: 50px;
    }

    #tulis-pesan {
        position: relative;
        z-index: 1;
        transform: translateY(0);
        width: 100%;
    }

    .pesan {
        flex-direction: column;
    }

    #welcome h1 {
        text-align: center;
    }

    #welcome p {
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    #welcome a {
        padding: 12px 40px 12px 40px;
        font-size: 1em;
    }

    .profil-saya h1, #project h1, #tamu h1 {
        font-size: 32px;
    }

    .profil-saya h4, #project h4, #tamu h4 {
        font-size: 12px;
    }

    .profil-saya p {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .contact .info {
        width: 88%;
        background-color: rgba(14, 39, 55, 0);
        background-image: linear-gradient(to bottom right, rgba(14, 39, 55, 1), rgba(14, 39, 55, 0));
        color: #2a303b;
    }

    .contact .info p {
        color: #000000;
    }

    .contact .info i {
        color: #2a303b;
    }

    #post {
        flex-direction: column;
    }

    .post-judul, .post-isi {
        padding: 0;
    }

    .category, .date {
        margin: 0;
    }

    .list-pesan {
        width: 100%;
    }

    .post-gambar {
        margin-bottom: 30px;
    }

    .foto-saya img {
        max-width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .nav-contact-me {
        display: none;
    }

    nav {
        flex-direction: column;
        height: auto;
    }

    .nav-link {
        flex-direction: column;
        background-color: #0e2737;
    }

    .nav-link a {
        color: #EEEEEE;
        padding: 20px;
        font-weight: 600;
    }

    .nav-link a:hover {
        background-color: #1cc3b2;
    }

    .nav-link a:active {
        transform: translateY(4px);
    }

    .nav-res {
        display: flex;
    }

    .brands {
        justify-content: space-between;
        height: 8vh;
    }

    #welcome h1 {
        font-size: 2em;
    }

    .pesan-nama {
        flex-grow: 1;
    }

    .break-res {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    #welcome h1 {
        letter-spacing: 2px;
    }

    .pesan {
        margin: 0 5%;
    }

    #about {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .profil-saya, .foto-saya {
        margin: 0 50px;
    }

    .skill-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1700px) {
    nav {
        padding: 0;
    }

    .brands {
        padding-left: 20px;
    }

    #skill {
        padding: 70px 20px 0 20px;
    }
}